<!DOCTYPE html>
<html lang="en" xmlns:th="http://.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Delete Car</title>
</head>
<body>

<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}" th:object="${user}">
    <p> DELETE from DATABASE: </p>
    <p> Firstname: <a th:text="*{username}"></a></p>
    <p> Surname: <a th:text="*{surname}"></a></p>
    <p> Age: <a th:text="*{age}"></a></p>
    <p> E-mail: <a th:text="*{email}"></a></p>
    <p> Password: <a th:text="*{password}"></a></p>
    <p> User roles:
    <td>
        <th:block th:each="role : *{roles}">
            <label th:text="${role.name}"></label>
        </th:block>
    </td>
    </p>
    <hr/>
    <input type="submit" value="DELETE"/>
    <hr/>
    <a href="/admin/users">Back to List</a>
    <br/>
    <a th:href="@{/logout}">Logout</a>

</form>
</body>
</html>
