<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User Page</title>
</head>
<body>
<h2>User Info</h2>
<header>
    <div class="container-fluid bg-dark">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand text-white" href="#"><h5><span sec:authentication="name"></span></h5></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active text-white-50">

                        <h5>with roles:
                            <span sec:authorize="hasAnyRole('ROLE_ADMIN')">
                              ADMIN
                            </span>
                            <span sec:authorize="hasAnyRole('ROLE_USER')">
                                USER
                            </span>
                        </h5>
                    </li>
                </ul>
                <a class="nav-link text-white-50 logout" href="/logout">Logout</a>
            </div>
        </nav>
    </div>
</header>

<div class="d-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 vh-100">
                <ul class="nav flex-column nav-pills mx-n3 mt-3" aria-orientation="vertical" id="nav">
                    <li class="nav-item"><a sec:authorize="hasRole('ROLE_USER')" class="nav-link active border rounded"
                                            href="/user">User</a></li>
                </ul>
            </div>
            <div class="col-sm-10 bg-light">
                <div class="mx-3">
                    <h1 class="my-3">User information-page</h1>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>User name</th>
                                    <!--<th>Password</th>-->
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td th:text="${user.getId()}"></td>
                                    <td th:text="${user.getUsername()}"></td>
                                    <!--<td th:text="${user.getPassword()}"></td>-->
                                    <td th:text="${user.getName()}"></td>
                                    <td th:text="${user.getSurname()}"></td>
                                    <td th:text="${user.getAge()}"></td>
                                    <td th:text="${user.getEmail()}"></td>
                                    <td th:text="${user.getRoles()}"></td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script type="text/javascript" th:src="@{/user.js}" src="../scripts/user.js"></script>

</div>

</body>
</html>